
html{
    --primary-color: #294B6B;
    --secundary-color: #0F6FFF;
    --tertiary-color: #17213A;
    --text-primary-color: #fff;
    --text-secundary-color: #A4A0A0;
    --text-tertiary-color: #087DE9;
}

html[data-theme="dark"] {
    --primary-color: #fff;
    --secundary-color: #0F6FFF;
    --tertiary-color: #DAE1F4;
    --text-primary-color: #294B6B;
    --text-secundary-color: #294B6B;
    --text-tertiary-color: #087DE9;
}

